@font-face {
  font-family: 'Nunito SemiBold';
  src: local('Nunito SemiBold'), url(./fonts/Nunito-SemiBold.ttf) format('truetype');
}

body {
  background: #eee;
  font-family: "Nunito SemiBold";
}

